---
:console_defaults: []

:pipe_options:
  :copy:
    :pipe: :copy
    :desc: Copy to clipboard
    type: :boolean
  :browser:
    :type: :boolean
    :pipe: :browser
    :desc: Open in browser
:command_aliases: {}

:libraries:
  clipboard:
    :class_commands:
      copy: Clipboard.write
      paste: Clipboard.read
    :commands:
      copy:
        :description: Copy to clipboard
      paste:
        :description: Paste to clipboard
  pubmed:
    :commands:
      query:
        :args:
        - - options
          - {}
        :options:
          :journal: :string
          :terms: :string
          :email: mail@michaelbarton.me.uk
          :authors: :array
          :year: :numeric
          :number: 5
:defaults:
- menu_pipe
:option_underscore_search: true
