:pipe_options:
    :browser:
      :type: :boolean
      :desc: Open in browser
    :copy:
      type: :boolean
      :desc: Copy to clipboard
:libraries:
  pubmed:
    :commands:
      query:
        :options:
          :email: mail@michaelbarton.me.uk
  clipboard:
    :commands:
      paste:
        :description: Paste to clipboard
      copy:
        :description: Copy to clipboard
    :class_commands:
      paste: Clipboard.read
      copy: Clipboard.write
